<div>
  <div>
    <nav class="navbar navbar-dark bg-info">
      <a href="angular/reportSkills" class="navbar-brand">Angular Integration Examples</a>

      <ul class="navbar-nav flex-row mr-auto">
        <li [routerLinkActive]="['active']" class="nav-item active pr-3">
          <a class="nav-link" routerLink="angular/reportSkills">Report Skill Events</a>
        </li>
        <li [routerLinkActive]="['active']" class="nav-item pr-3">
          <a class="nav-link" routerLink="angular/showSkills">User Display</a>
        </li>
      </ul>
      <button type="button" class="btn btn-primary">
        <span id="skillLevel"></span>
        <skills-level></skills-level>
      </button>
    </nav>
  </div>
</div>