.idea
*.iml
static
dist
!skills-example-client-js/app/**/dist/
target
skills-example-service/src/main/resources/public/native
skills-example-service/src/main/resources/public/vuejs
skills-example-service/src/main/resources/public/react

.DS_Store
node_modules
target/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
