/.idea/
/**/node_modules
/skills-client-js/coverage/
/skills-client-js/dist/
/skills-client-integration/skills-int-service/src/main/resources/public/

.history
/target/
/target/skills-clilent/
/skills-client-integration/skills-int-e2e-test/logs/
/skills-client-integration/skills-int-e2e-test/cypress/videos/
/skills-client-integration/skills-int-e2e-test/cypress/screenshots/
/skills-client-integration/skills-int-e2e-test/nohup.out
/skills-client-vue/package-lock.json
/skills-client-react/package-lock.json
/skills-client-js/package-lock.json
target

