# This is a basic workflow to help you get started with Actions

name: Continuous Integration expired token tests

on:
  schedule:
    - cron: '0 8 * * *'
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

#    services:
#      rabbitmq:
#        image: skilltree/skills-stomp-broker:1.0.0
#        ports:
#          # Maps port 15672 and 61613 on service container to the host
#          - 15672:15672
#          - 61613:61613
    services:
      postgres:
        # Docker Hub image
        image: postgres
        # Provide the password for postgres
        env:
          POSTGRES_PASSWORD: skillsPassword
          POSTGRES_DB: skills
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - uses: actions/setup-node@v2-beta
      with:
        node-version: '14'

    - uses: actions/setup-java@v1
      with:
        java-version: '19' # The JDK version to make available on the path.

    - name: Print Versions
      run: |
        mvn --version
        java -version
        npm -version
        node --version

    - name: Cache local Maven repository
      uses: actions/cache@v2
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-

    - name: Cache npm
      uses: actions/cache@v2
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-

    - name: build skill-service
      run: ./.github/workflows/scripts/getSkillsService.sh

    - name: setup npm links
      run: ./.github/workflows/scripts/setupNpmLinks.sh

    - name: build integration test apps
      run: |
        cd ./skills-client-integration
        mvn --batch-mode clean install
        cd ../

    - name: start services for cypress tests
      run: |
        cd skills-client-integration/skills-int-e2e-test
        npm install
        npm run cyServices:start:skills-service:ci:expired-token
        npm run cyServices:start:integration-apps
        cd ../../

    - name: Run Cypress tests
      uses: cypress-io/github-action@v2
      with:
        working-directory: skills-client-integration/skills-int-e2e-test
        record: true
        parallel: false
        group: 'skills-client expired token tests'
        tag: "${{ github.workflow }}"
        spec: cypress/integration/timeout.specs.js
        env: 'timeout=true'
      env:
        # pass the Dashboard record key as an environment variable
        CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
        # pass GitHub token to allow accurately detecting a build vs a re-run build
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: upload result artifacts
      if: ${{ always() }}
      uses: actions/upload-artifact@v2
      with:
        name: result artifacts
        path: |
          ./skills-service/*.jar
          ./skills-client-integration/skills-int-service/target/*.jar
          ./skills-client-integration/skills-int-e2e-test/target/logs/*.out
          ./skills-client-integration/skills-int-e2e-test/cypress/videos/*.mp4
          ./skills-client-integration/skills-int-e2e-test/cypress/screenshots/**/*.png
